*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: #2C2834;
}

/* Navbar */
.container-fluid {
    background-color:#A740B8; 
    width: 100%;
    height: 60px;
}
.navbar-nav {
    justify-content: center;
    width: 100%;
    font-size: larger;
}
.navbar {
    margin-bottom: 10px; 
}

/* Logo */
.logoprincipal {
    display: flex;
    justify-content: center;
}

.logoprincipal img {
    width: 10rem; 
    height: auto; 
    margin-top: 20px;
}


/* Carrousel */
.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px; /* Ajusta este valor según sea necesario */
}

.carousel {
    max-width: 100%; /* Hace que el carrusel sea responsive */
}

.carousel-item img {
    max-width: 100%; /* Hace que las imágenes del carrusel sean responsive */
    height: auto;
    max-height: 500px; /* Ajusta este valor según tus necesidades */
}

/* Footer */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    padding: 10px 5; /* Ajusta el padding según tu diseño */
    text-align: center;
    color: #FFF;
}